@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bolder;
}

button {
  padding: 4px 8px;
  border-radius: 4px;
  background: rgba(59, 130, 246, 0.5);
  color: #fff;
  font-weight: 600;
}